build/
__pycache__
*.Zone.Identifier
.venv/
token.txt
api_key.txt
.pytest_cache/
.env

src/v2/nlu_pipeline/nlu_benchmark/smoke_tests/results/
src/v2/nlu_pipeline/nlu_benchmark/benchmark_mazes/
src/v2/nlu_pipeline/nlu_benchmark/terminal_output.txt
